<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68480610638-s65i959l49ujlaghac6dka2nfaldpgnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68480610638-s65i959l49ujlaghac6dka2nfaldpgnv</string>
	<key>API_KEY</key>
	<string>AIzaSyA2jYjr3QKn1CMohDcrC8ZmKXg-Fdtnhx8</string>
	<key>GCM_SENDER_ID</key>
	<string>68480610638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hassankabha.com.hakathon2020</string>
	<key>PROJECT_ID</key>
	<string>hakathon2020-480e3</string>
	<key>STORAGE_BUCKET</key>
	<string>hakathon2020-480e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68480610638:ios:dcd17e00cef5c924eb6e1f</string>
	<key>DATABASE_URL</key>
	<string>https://hakathon2020-480e3.firebaseio.com</string>
</dict>
</plist>